<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/python/">Python</a></li>
    <li class="nav-book" role="menuitem"><a href="{{site.baseurl}}tag/book/">Book</a></li>
    <li class="nav-laboratory" role="menuitem"><a href="{{site.baseurl}}tag/laboratory/">Laboratory</a></li>
    <li class="nav-teamcad" role="menuitem"><a href="{{site.baseurl}}tag/teamcad/">TeamCAD</a></li>
    <li class="nav-etc" role="menuitem"><a href="{{site.baseurl}}tag/etc/">Etc</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag Posts</a>
    </li>
</ul>